@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;500;600;700;800600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #AFECE7;
}

.nav {
    background-color: #5B8A5C;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;

    h2 {
        padding-bottom: 12px;
        font-size: 8px;
        font-weight: 700;

    }

    img {
        width: 220px;
    }

    .logo {
        padding: 12px 12px 0;
    }

    .slogan {
        padding-left: 12px;
        padding-bottom: 8px;
    }

    @media (max-width: 768px) {
        justify-content: center;
    }

}

.title {
    color: white;
    text-decoration: none;
    font-weight: 600;
}

main {
    height: 130vh;
}

.main {
    padding-left: 12px;
    padding-right: 12px;
}

.school-logo {
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);

}

.block {
    padding-top: 24px;
    padding-bottom: 24px;

    &:not(:last-child) {
        border-bottom: 1px solid #cccaca;
    }

    h2 {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 4px;
    }

    .description {
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 12px;
        color: rgb(92, 101, 110);
    }

    .language {
        font-size: 12px;
        font-weight: 600;
        margin-right: 8px;
    }

    .button {
        margin-left: 12px;
        padding: 0.5rem 1rem;
        font-size: 16px;
        color: white;
        border: none;
        border-radius: 5px;
        background-color: #5B8A5C;
        cursor: pointer;
    }

    .affirmation {
        font-size: 12px;
        display: flex;
        align-items: center;
        gap: 4px;
        padding: 10px;
        background-color: lightgreen;
        font-weight: 600;
        width: fit-content;
        border: 1px solid green;
        color: green;
        border-radius: 4px;
        margin-bottom: 12px;
    }

    .warning {
        font-size: 12px;
        display: flex;
        align-items: center;
        gap: 4px;
        padding: 10px;
        background-color: #ff7474;
        font-weight: 600;
        width: fit-content;
        border: 1px solid red;
        color: #8c0202;
        border-radius: 4px;
        margin-bottom: 12px;
    }

}

.transcription-text {
    margin-top: 12px;
    padding: 12px;
    height: 300px;
    width: 100%;
    max-width: 400px;
    background: none;
    border: 1px solid #cccaca;
    resize: none;

    outline: none;
}